<form>
  <div class="flex gap-5 relative mb-5">
    <app-input-ng [formField]="form.numero" label="N° Ingreso" />
    <div class="pointer-events-none select-none absolute -right-3 -top-3">
      <app-status-bar-ng
        [statuses]="status"
        [activeId]="form().value().status"
        [compact]="!device.isMd()"
      />
    </div>
  </div>
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 items-start">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
      <app-date-picker-ng [formField]="form.fechaMovimiento" label="Fecha Ingreso" />
      <app-select-ng
        [formField]="form.tipoIngresoId"
        label="Tipo de Ingreso"
        [options]="tipoIngreso()"
        optionLabel="name"
        optionValue="id"
      />

      <app-select-ng
        [formField]="form.cuentaBancoId"
        label="Cuenta de Banco"
        [options]="cuentasBanco()"
        optionLabel="numeroCuenta"
        optionValue="id"
      />

      <app-select-ng
        [formField]="form.tipoDocumentoFinancieroId"
        label="Tipo Documento"
        [options]="tipoDocumento()"
        optionLabel="name"
        optionValue="id"
      />

      <app-input-ng [formField]="form.noDocumento" label="N° Folio" />
      <app-input-number-ng
        [formField]="form.monto"
        label="Monto Ingreso"
        [minFractionDigits]="2"
        [maxFractionDigits]="2"
        [showButtons]="true"
      />

      <!-- <div class="md:col-span-2">
        <app-file-picker-ng
          [(value)]="DocFile"
          [urlDocument]="urlDocumentValue()"
          [fileName]="fileNameValue()"
          label="Documento"
        />
      </div> -->
    </div>

    <div class="flex flex-col gap-4">
      <app-search-autocomplete
        [formField]="form.partnerId"
        [urlList]="urlSearch()"
        [urlEntity]="urlEntity"
        label="Cliente"
        optionLabel="name"
        optionValue="id"
        (selectionChange)="onPartnerChanged($event)"
      />
      @if (partnerInfo()) {
        <div>
          <p-panel header="Información" toggleable collapsed>
            <div class="grid grid-cols-1 gap-3 sm:grid-cols-2 text-sm">
              <div class="flex gap-2">
                <span class="text-muted-color">NIT:</span>
                <span class="text-muted-color-emphasis">{{ partnerInfo()?.nit }}</span>
              </div>

              <div class="flex gap-2">
                <span class="text-muted-color">NRC:</span>
                <span class="text-muted-color-emphasis">{{ partnerInfo()?.nrc }}</span>
              </div>

              <div class="flex gap-2">
                <span class="text-muted-color">DUI:</span>
                <span class="text-muted-color-emphasis">{{ partnerInfo()?.dui }}</span>
              </div>
            </div>
          </p-panel>
        </div>
      }

      <app-text-area-ng [formField]="form.descripcion" label="Descripción" [rows]="5" [upperCase]="true"/>
    </div>
  </div>
  <div class="mt-5">
    <p-panel header="Observación" toggable>
      <app-text-area-ng [rows]="5" [formField]="form.observacion"></app-text-area-ng>
    </p-panel>
  </div>
</form>
<app-loading-block [visible]="form().submitting() || showLoader()" />
