<div class="bg-surface-50 dark:bg-surface-950">
  @if (shouldShowOverlay()) {
    @if (error()) {
      <div class="flex min-h-screen items-center justify-center ">
        <div class="text-center flex flex-col gap-2">
          <div class="mx-auto rounded-full bg-red-50 dark:bg-red-100 text-red-500 p-3 border border-red-200 dark:border-red-400 shadow">
            <app-icon name="LucideTriangleAlert" [size]="32"/>
          </div>
          <h2 class="text-xl font-semibold text-muted-color-emphasis mb-0">Servicio no disponible</h2>
          <p class="text-muted-color">No se puede conectar con el servidor. Verifica tu conexión o intenta de nuevo más tarde.</p>
          <p-button (click)="retry()" label="Reintentar"/>          
        </div>
      </div>
    } @else {
      <div class="flex min-h-screen items-center justify-center ">
        <div class="text-center flex flex-col gap-5">
          <p-progress-spinner strokeWidth="8" fill="transparent" animationDuration=".5s" [style]="{ width: '50px', height: '50px' }" />
          <p class="text-muted-color">Verificando conexión...</p>
        </div>
      </div>
    }
  } @else {
    <router-outlet />
  }
</div>

<p-toast
    key="global-toast"
    position="top-right"
    [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"
  ></p-toast>
  <p-toast key="global-toast-tl" position="top-left"></p-toast>
  <p-toast key="global-toast-tc" position="top-center"></p-toast>
  <p-toast key="global-toast-br" position="bottom-right"></p-toast>
  <p-toast key="global-toast-bl" position="bottom-left"></p-toast>
  <p-toast key="global-toast-bc" position="bottom-center"></p-toast>
  <p-toast key="global-toast-c" position="center"></p-toast>

  <p-confirmdialog>
    <ng-template #headless let-message let-onAccept="onAccept" let-onReject="onReject">
      @if (message) {
        <div
          class="flex flex-col items-center p-8 bg-surface-0 dark:bg-surface-900 rounded-2xl max-w-xl"
        >
          <div
            class="rounded-full bg-primary text-primary-contrast inline-flex justify-center items-center h-24 w-24 -mt-20"
          >
            <i class="pi pi-question text-5xl!"></i>
          </div>
          <span class="font-bold text-2xl block mb-2 mt-6">{{ message.header }}</span>
          <p class="mb-0 text-justify">{{ message.message }}</p>
          <div class="flex items-center gap-2 mt-6">
            <p-button label="Confirmar" (onClick)="onAccept()"></p-button>
            <p-button label="Cancelar" severity="secondary" (onClick)="onReject()"></p-button>
          </div>
        </div>
      }
    </ng-template>
  </p-confirmdialog>