<app-page-layout title="Egreso" subtitle="Operaciones de Egreso" iconName="LucideBanknoteArrowDown">
  <ng-template #headerActions>
    <div class="flex gap-2">
      <app-back-button />

      <p-button
        [label]="device.isMobile() ? '' : 'Guardar'"
        [disabled]="!isFormValid()"
        (onClick)="onSave()"
      >
        <app-icon name="LucideCloud" />
      </p-button>

      @if (!isNew()) {
        <!-- <p-button
          [label]="device.isMobile() ? '' : 'Imprimir'"          
          (onClick)="onPrint()"
        >
          <app-icon name="LucidePrinter" />
        </p-button> -->
        <p-splitbutton
          [model]="items"
          [label]="device.isMobile() ? '' : 'Imprimir'"
          (onClick)="onPrint()"
        >
          <ng-template #content>
            <div class="flex gap-1">
              <app-icon name="LucidePrinter" />
              @if (!device.isMobile()) {
                <span class="my-auto">Imprimir</span>
              }
            </div>
          </ng-template>
        </p-splitbutton>
      }
    </div>
  </ng-template>
  <ng-container #compo />
</app-page-layout>
