<form novalidate [formRoot]="form">
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
    <app-input-ng
      label="Correo electrónico"
      [formField]="form.email"
      [autoFocus]="isNew()"
      class="col-span-full"
      tabIndex="1"
    />

    <app-input-ng
      label="Nombre"
      [formField]="form.name"
      [autoFocus]="!isNew()"
      class="col-span-full"
      tabIndex="2"
    />

    @if (isNew()) {
      <app-input-ng label="Contraseña" type="password" [formField]="form.password" />

      <app-input-ng
        label="Confirmar contraseña"
        type="password"
        [formField]="form.confirmPassword"
      />
    }

    <div class="flex flex-col gap-1 col-span-full">
      <label for="roles" class="text-sm ms-2">Roles</label>
      <p-multiselect
        [options]="roleList()"
        [formField]="form.roles"
        name="roleIds"
        optionLabel="roleName"
        optionValue="name"
        appendTo="body"
        [invalid]="form.roles().invalid"
        display="chip"
        fluid
        [maxSelectedLabels]="5"
      />
      @if (form.roles().invalid() && form.roles().touched()) {
        @for (error of form.roles().errors(); track error) {
          <p-message severity="error" size="small" variant="simple">{{ error.message }}</p-message>
        }
      }
    </div>

    <app-toggle-button-ng [formField]="form.active" onLabel="Activo" offLabel="Inactivo" />
  </div>
  <div class="mt-5 flex gap-3 justify-end">
    <p-button type="submit" label="Guardar" [disabled]="form().submitting() || form().invalid()">
      <app-icon name="LucideCloud" />
    </p-button>

    <p-button label="Cancelar" severity="secondary" (onClick)="formClose.emit(false)">
      <app-icon name="LucideX" />
    </p-button>
  </div>
</form>
<app-loading-block [visible]="form().submitting()" message="Guardando..." />
